<main class="principale px-5 mt-3">
    <p class="phrase-accroche">En plein centre-ville ou en pleine nature</p>
    <form class="zone-recherche">
        <span class="map"><i class="bi bi-geo-alt-fill"></i></span>
        <input type="text" name="recherche" placeholder="Marseille, France">
        <button type="submit"><i class="bi bi-search"></i>Rechercher</button>
    </form>
    <div class="conteneur-filtres">
        <p class="titre-filtre">Filtres</p>
        <div class="md-d-flex">
            <div class="item-filtre"
                 *ngFor="let item of itemsFilter"
                 (click) = "setCurrentAction(item)"
                 [class] = "item==currentAction ? 'active' : ''"
            >


                <p class="icone"><i class="bi {{item.icon}}"></i></p>
                <a href="#">{{item.title}}</a>
            </div>
            <!-- <div class="item-filtre">
                <p class="icone"><i class="bi bi-person-arms-up"></i></p>
                <a href="#">Familial</a>
            </div>
            <div class="item-filtre">
                <p class="icone"><i class="bi bi-heart-fill"></i></p>
                <p class="texte"><a href="#">Romantique</a></p>
            </div>
            <div class="item-filtre">
                <p class="icone"><i class="bi bi-android"></i></p>
                <a href="#">Animaux Autorisés</a>
            </div> -->
        </div>
    </div>
    <div class="logo-info-texte">
        <p class="conteneur-logo"><i class="bi bi-info"></i></p>
        <p>Plus de 500 logements sont disponibles dans cette ville </p>
    </div>

</main>

<app-hotellist></app-hotellist>