<div class="container">
    <div  style="display: flex;" class="mt-5">
        <img [src]="hotelClicked.imageUrl" alt="Card image cap" style="width: 18rem;" class="mx-2">
        <div >
            <h5 >{{hotelClicked.hotelName}}</h5>
            <p>{{hotelClicked.description}} </p>
            <div class="d-flex justify-content-between">
                <button 
                    type="button" 
                    class="btn btn-primary"
                    (click)="showForm()"
                >Modifier</button>
                <button 
                    type="button" 
                    class="btn btn-primary"
                    (click)="deleteHotel(hotelClicked.id)"
                >Supprimer</button>
                <button type="button" class="btn btn-primary" (click)="goToHome()">Retour</button>

            </div>
        </div>
    </div>
     <!-- patie formulaire -->
    <ng-container 
        *ngIf="showEditForm"
    >
        <h3 class="bg-primary text-white text-center mt-5">Editer un Hotel</h3>
        <form [formGroup]="data" (ngSubmit)="modifHotel(hotelClicked)">
            <div class="row">
            <div class="col">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="HotelName"
                    [formControl]="data.controls.hotelName"
                >
            </div>
            <div class="col">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="price"
                    [formControl]="data.controls.price"
                >
            </div>
            <div class="col">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="rating"
                    [formControl]="data.controls.rating"
                >
            </div>
            <div class="col">
                <input 
                    type="url" 
                    class="form-control" 
                    [formControl]="data.controls.imageUrl"
                >
            </div>
                <textarea 
                    type="text" 
                    class="form-control" 
                    placeholder="Description"
                    [formControl]="data.controls.description"
                ></textarea>
            </div>
        </form>
            <div>
            <button 
                type="submit" 
                class="btn btn-success mx-1 mt-3"
                (click)="modifHotel(hotelClicked)"
            >Sauvgarder</button>
        </div>
    </ng-container>
</div>

