<div class="partie-centrale">

    <section id="Hebergement">
        <h2>Hébergement à Marseille</h2>
        <div class="galerie-hebergement">
            <a class="item-galerie" href="#">
                <img src="hebergements/4_small/lacannebierre.jpg" alt="photo-Hôtel-Cannebière">
                <div class="texte-sous-la-photo-galerie">
                    <h3 class="cannebierre">Auberge la Cannebière</h3>
                    <p>Nuit à partir de <strong>25€</strong></p>
                    <p class="etoile">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star filled"></i>
                    </p>
                </div>
            </a>

            <a class="item-galerie" href="#">
                <img src="hebergements/4_small/hotel-du-port.jpg" alt="photo-Hôtel-du-port">
                <div class="texte-sous-la-photo-galerie">
                    <h3>Hôtel du port</h3>
                    <p>Nuit à partir de <strong>52€</strong></p>
                    <p class="etoile">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </p>
                </div>
            </a>

            <a class="item-galerie" href="#">
                <img src="hebergements/4_small/hotel-les-mou.jpg" alt="photo-Hôtel-les-mouettes">
                <div class="texte-sous-la-photo-galerie">
                    <h3>Hôtel Les mouettes</h3>
                    <p>Nuit à partir de <strong>76€</strong></p>
                    <p class="etoile">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star filled"></i>
                    </p>
                </div>
            </a>

            <a class="item-galerie" href="#">
                <img src="hebergements/4_small/hotel-de-la-mer.jpg" alt="photo-Hôtel-Hôtel-de-la-mer">
                <div class="texte-sous-la-photo-galerie">
                    <h3>Hôtel de la mer </h3>
                    <p>Nuit à partir de <strong>46€</strong></p>
                    <p class="etoile">
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                    </p>
                </div>
            </a>

            <a class="item-galerie" href="#">
                <img src="hebergements/4_small/hotel-lepagnier.jpg" alt="photo-Hôtel-Auberge-Le-Pagnier">
                <div class="texte-sous-la-photo-galerie">
                    <h3>Auberge Le Pagnier</h3>
                    <p>Nuit à partir de <strong>23€</strong></p>
                    <p class="etoile"><i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star filled"></i>
                    </p>
                </div>
            </a>

            <a class="item-galerie" href="#">
                <img src="hebergements/4_small/chez-amina.jpg" alt="photo-Hôtel-Hôtel-chez-Amina">
                <div class="texte-sous-la-photo-galerie">
                    <h3>Hôtel chez Amina</h3>
                    <p class="nuit">Nuit à partir de <strong>96€</strong></p>
                    <p class="etoile">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star filled"></i>
                    </p>
                </div>
            </a>
        </div>
        <a class="voirplus" href="#">Afficher plus</a>
    </section>

    <aside>
        <h2>Les plus populaires</h2><i class="fas fa-chart-line"></i>
        <div class="bloc-galerie-aside">

            <a class="item-aside" href="#">
                <img src="hebergements/4_small/hotel-le-soleil-du-matin.jpg" alt="photo-hôtel-Hôtel-le-soleil-du-matin">
                <div class="texte-sous-la-photo-aside">
                    <h3>Hôtel le soleil du matin </h3>
                    <p>Nuit à partir de <strong>128€</strong></p>
                    <p class="icone-etoile"><i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star "></i>
                    </p>
                </div>
            </a>

            <a class="item-aside" href="#">
                <img src="hebergements/4_small/Au-coeur-de-l'eau.jpg" alt="photo-hotel-Au-cœur-de-l'eau-Chambres-d'hôtes">
                <div class="texte-sous-la-photo-aside">
                    <h3>Au cœur de l'eau Chambres d'hôtes</h3>
                    <p>Nuit à partir de <strong>71€</strong></p>
                    <p class="icone-etoile"><i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star filled"></i>
                    </p>
                </div>
            </a>

            <a class="item-aside" href="#">
                <img src="hebergements/4_small/tout-bleu.jpg" alt="photo-Hôtel-Tout-Bleu-et-Blanc">
                <div class="texte-sous-la-photo-aside">
                    <h3>Hôtel Tout Bleu et Blanc</h3>
                    <p class="dernierphrase">Nuit à partir de <strong>68€</strong></p>
                    <p class="icone-etoile"><i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star filled"></i>
                    </p>
                </div>
            </a>

        </div>
    </aside>

</div>
