#activites h2 {
    margin-top: 4rem;
}

#activites a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#activites p {
    padding-left: 1rem;
    margin-top: 0.7rem;
}

#activites .galerie-activite {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    justify-content: space-between;
    margin-top: 2rem;
}

#activites .galerie-activite .item-galerie-activite-photo-unique {
    border-radius: 20px;
    width: 19.063rem;
    height: 27.5rem;
    box-shadow: 0 0 1rem #0000002e;
}

#activites .galerie-activite .item-galerie-activite-photo-unique img {
    width: 100%;
    object-fit: cover;
    height: 24.5rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

#activites .galerie-activite .item-parent-galerie-activite-photo-double {
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    width: 19.063rem;
    height: 27.5rem;
    justify-content: space-between;
}

#activites .galerie-activite .item-parent-galerie-activite-photo-double .fort-de-pomegue {
    border-radius: 1.25rem;
    height: 14.36rem;
    box-shadow: 0 0 1rem #0000002e;
}

#activites .galerie-activite .item-parent-galerie-activite-photo-double .fort-de-pomegue img {
    object-fit: cover;
    width: 100%;
    height: 11.25rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

#activites .galerie-activite .item-parent-galerie-activite-photo-double .ile-du-friout {
    border-radius: 20px;
    height: 10.63rem;
    box-shadow: 0 0 20px #0000002e;
}

#activites .galerie-activite .item-parent-galerie-activite-photo-double .ile-du-friout img {
    object-fit: cover;
    width: 100%;
    height: 7.75rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activites .galerie-activite .item-parent-galerie-activite-photo-double .Notre-dame {
    border-radius: 1.25rem;
    height: 11.25rem;
    box-shadow: 0 0 1.25rem #0000002e;
}

#activites .galerie-activite .item-parent-galerie-activite-photo-double .Notre-dame img {
    object-fit: cover;
    width: 100%;
    height: 8.44rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

#activites .galerie-activite .item-parent-galerie-activite-photo-double .Parc {
    border-radius: 1.25rem;
    height: 13.75rem;
    box-shadow: 0 0 1.25rem #0000002e;
}

#activites .galerie-activite .item-parent-galerie-activite-photo-double .Parc img {
    object-fit: cover;
    width: 100%;
    height: 10.88rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}
